<div class="tw-fixed tw-bottom-0 md:tw-bottom-6 tw-right-0 md:tw-right-6 tw-w-full tw-z-20  md:tw-w-fit md:tw-px-20 md:tw-border-l md:tw-rounded-lg md:tw-shadow-md tw-bg-white tw-p-4 tw-flex tw-flex-col tw-border-t tw-items-center tw-justify-center tw-gap-2">
  <p class="tw-text-xl">
    <span class="tw-text-sm tw-font-bold tw-bg-indigo-700 tw-text-white tw-px-3 tw-py-0.5 tw-rounded-full">通話料無料</span>
    <br/>
    <p class="tw-text-2xl tw-font-bold">お電話でのご注文はこちら</p>
    <div class="tw-flex tw-items-center tw-gap-5 tw-animate-pulse">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19 11.95q0-2.925-2.037-4.962T12 4.95v-2q1.875 0 3.513.713t2.85 1.925t1.925 2.85T21 11.95zm-4 0q0-1.25-.875-2.125T12 8.95v-2q2.075 0 3.538 1.463T17 11.95zM19.95 21q-3.125 0-6.187-1.35T8.2 15.8t-3.85-5.55T3 4.05V3h5.9l.925 5.025l-2.85 2.875q.55.975 1.225 1.85t1.45 1.625q.725.725 1.588 1.388T13.1 17l2.9-2.9l5 1.025V21z"/></svg>
      <a href="tel:0120-075-074"><strong class="tw-font-bold tw-text-6xl md:tw-text-7xl">0120-075-074</strong></a>
    </div>
  </p>
  <!-- <a href="https://primary-japan-supplements.com/products/%E9%A3%9F%E3%81%B9%E3%82%8B%E7%82%AD-%E3%82%B8%E3%83%B3%E3%83%AA%E3%83%90%E3%82%A4%E3%83%96?variant=50006037233832" ]
  class="tw-text-blue-600 tw-text-lg">
    <p>クレジットカード決済での購入はこちら</p>
  </a> -->
</div>

{% schema %}
  {
    "name": "Call Banner",
    "settings": [],
    "presets": [
      {
"name": "Call Banner"}
    ]
  }
{% endschema %}